<div class="row">
    <div class="experience-inner">
        <div class="medium-12 col-md-10 card-box-wrap columns">
            <div class="row">
                <div class="medium-12">
                    <h2 class="title fg-primary-color">Experience</h2>
                    <p class="regular-text">
                        Les années passent vite vous trouvez pas ? Mais bon, le bon côté des choses, c'est qu'on on ne garde que le meilleurs. <br/>
                        Elles m'ont permise ici de monter en compétence sur différents sujets comme la partie Marketing, Emailing, Gestion de projet
                        et principalement le Développement. <br />
                        Mission en Freelance ou en poste, tout vous sera dévoilé ici.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="experience-container large-12 columns padd-tb-55">
                    <div class="row">
                        <div class="small-4 fadeInUpSmall animated columns">
                            <div class="card">
                                <div class="card-image waves-block waves-light">
                                    <h2 class="left-align card-title-top">Mai 2013 - Aujourd'hui</h2>
                                    <div class="valign-wrapper card-img-wrap">
                                        <img class="activator" src="{{ asset('bundles/sdevilcryvincentschoener/images/logo-batiwiz.png') }}" alt="">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator brand-text">Lead Developper<i class="mdi-navigation-more-vert right"></i></span>
                                    <p>Batiwiz</p>
                                </div>
                                <div class="card-reveal" style="transform: translateY(0px);">
                                    <div class="rev-title-wrap">
                                        <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-close right"></i></span>
                                        <p>Apple.inc</p>
                                    </div>
                                    <p class="rev-content">
                                        Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="small-4 fadeInUpSmall animated columns">
                            <div class="card">
                                <div class="card-image waves-block waves-light">
                                    <h2 class="left-align card-title-top">Septembre 2012 - Mai 2013</h2>
                                    <div class="valign-wrapper card-img-wrap">
                                        <img class="activator" src="{{ asset('bundles/sdevilcryvincentschoener/images/logo-opensada.jpeg') }}" alt="">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator brand-text">Technical Project Manager<i class="mdi-navigation-more-vert right"></i></span>
                                    <p>Opensada et Auto entrepeneur</p>
                                </div>
                                <div class="card-reveal" style="transform: translateY(0px);">
                                    <div class="rev-title-wrap">
                                        <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-close right"></i></span>
                                        <p>Opensada et Auto entrepeneur</p>
                                    </div>
                                    <p class="rev-content">
                                        Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="small-4 fadeInUpSmall animated columns">
                            <div class="card">
                                <div class="card-image waves-block waves-light">
                                    <h2 class="left-align card-title-top">Mars 2011 - Septembre 2012</h2>
                                    <div class="valign-wrapper card-img-wrap">
                                        <img class="activator" src="{{ asset('bundles/sdevilcryvincentschoener/images/logo-prestashop.png') }}" alt="">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator brand-text">Développeur Coeur<i class="mdi-navigation-more-vert right"></i></span>
                                    <p>PrestaShop</p>
                                </div>
                                <div class="card-reveal" style="transform: translateY(0px);">
                                    <div class="rev-title-wrap">
                                        <span class="card-title activator brand-text">Technical Project Manager<i class="mdi-navigation-close right"></i></span>
                                        <p>Auto entrepreneur - Opensada</p>
                                    </div>
                                    <p class="rev-content">
                                        Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="small-4 fadeInUpSmall animated columns">
                            <div class="card">
                                <div class="card-image waves-block waves-light">
                                    <h2 class="left-align card-title-top">Novembre 2010 - Février 2011</h2>
                                    <div class="valign-wrapper card-img-wrap">
                                        <img class="activator" src="{{ asset('bundles/sdevilcryvincentschoener/images/logo-cupofmedia.png') }}" alt="">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator brand-text">Développeur<i class="mdi-navigation-more-vert right"></i></span>
                                    <p>Cup of media</p>
                                </div>
                                <div class="card-reveal" style="transform: translateY(0px);">
                                    <div class="rev-title-wrap">
                                        <span class="card-title activator brand-text">Technical Project Manager<i class="mdi-navigation-close right"></i></span>
                                        <p>Auto entrepreneur - Opensada</p>
                                    </div>
                                    <p class="rev-content">
                                        Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="small-4 fadeInUpSmall animated columns">
                            <div class="card">
                                <div class="card-image waves-block waves-light">
                                    <h2 class="left-align card-title-top">MAi 2009 - Mai 2010</h2>
                                    <div class="valign-wrapper card-img-wrap">
                                        <img class="activator" src="{{ asset('bundles/sdevilcryvincentschoener/images/logo-kiloutou.png') }}" alt="">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator brand-text">Développeur<i class="mdi-navigation-more-vert right"></i></span>
                                    <p>Kiloutou</p>
                                </div>
                                <div class="card-reveal" style="transform: translateY(0px);">
                                    <div class="rev-title-wrap">
                                        <span class="card-title activator brand-text">Technical Project Manager<i class="mdi-navigation-close right"></i></span>
                                        <p>Auto entrepreneur - Opensada</p>
                                    </div>
                                    <p class="rev-content">
                                        Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="small-4 fadeInUpSmall animated columns end">
                            <div class="card">
                                <div class="card-image waves-block waves-light">
                                    <h2 class="left-align card-title-top">Septembre 2008 - Mai 209</h2>
                                    <div class="valign-wrapper card-img-wrap">
                                        <img class="activator" src="{{ asset('bundles/sdevilcryvincentschoener/images/logo-accor.jpg') }}" alt="">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator brand-text">Assistant Sécurité<i class="mdi-navigation-more-vert right"></i></span>
                                    <p>Accor</p>
                                </div>
                                <div class="card-reveal" style="transform: translateY(0px);">
                                    <div class="rev-title-wrap">
                                        <span class="card-title activator brand-text">Technical Project Manager<i class="mdi-navigation-close right"></i></span>
                                        <p>Auto entrepreneur - Opensada</p>
                                    </div>
                                    <p class="rev-content">
                                        Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>