{% extends "::base.html.twig" %}

{% block title %}Vincent Schoener - Portfolio en ligne !{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sdevilcryvincentschoener/sass/foundation.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sdevilcryvincentschoener/vendor/owl.carousel/owl-carousel/owl.carousel.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sdevilcryvincentschoener/vendor/owl.carousel/owl-carousel/owl.theme.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sdevilcryvincentschoener/vendor/font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sdevilcryvincentschoener/css/animate.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sdevilcryvincentschoener/vendor/bower_components/sweetalert/lib/sweet-alert.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sdevilcryvincentschoener/css/core.css') }}" />
{% endblock %}

{% block head %}
    <meta charset="UTF-8" />
    <meta name="author" content="Vincent Schoener, Lead Developper, Epitech 2011" />
    <meta name="description" content="Développeur curieux et passionné par les nouvelles technologies actuellement installé sur Paris et prêt pour toute nouvelle aventure." />
    <meta name="keywords" content="DEVELOPPEUR,PHP,MySQ,Javascript,HTML5,CSS3,LESS,SASS,SYMFONY2,PRESTASHOP,VARNISH,JIRA,GIT,AGILE,SCRUMB,KANBAN,LEAD DEVELOPPER,EPITECH" />
    <meta name="robots" content="index, FOLLOW" />

    <meta property="og:title" content="Vincent Schoener - CV en ligne">
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/426296893870571520/PsLDWUl0.jpeg">
    <meta property="og:description" content="Développeur curieux et passionné par les nouvelles technologies actuellement installé sur Paris et prêt pour toute nouvelle aventure.">
{% endblock %}

{% block body %}
    {% block main %}
        {% block menu %}
            <header id="navigation">
                <div class="contain-to-grid sticky">
                    <nav class="top-bar" data-topbar="" role="navigation">
                        <ul class="title-area">
                            <li class="name">
                                <h1><a href="#" class="b">Vincent Schoener</a></h1>
                            </li>
                            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                        </ul>

                        <section class="top-bar-section clearfix">
                            <!-- Right Nav Section -->
                            <ul class="right">
                                <li><a href="#about" data-section="#about">About me</a></li>
                                <li><a href="#skill" data-section="#skill">Resume</a></li>
                                <li><a href="#experience" data-section="#experience">Porfolio</a></li>
                                <li><a href="#education" data-section="#education">Education</a></li>
                                {#<li><a href="#testimonial" data-section="#testimonial">Testimonial</a></li>#}
                                <li><a href="#contact" data-section="#contact">Contact</a></li>
                            </ul>
                        </section>
                    </nav>
                </div>
            </header>
        {% endblock %}

        <div id="main">
        {% block content %}
        {% endblock %}
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/sdevilcryvincentschoener/vendor/bower_components/foundation/js/vendor/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sdevilcryvincentschoener/vendor/bower_components/foundation/js/vendor/fastclick.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sdevilcryvincentschoener/vendor/bower_components/foundation/js/vendor/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sdevilcryvincentschoener/vendor/bower_components/foundation/js/foundation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sdevilcryvincentschoener/vendor/bower_components/foundation/js/foundation/foundation.topbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sdevilcryvincentschoener/vendor/owl.carousel/owl-carousel/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sdevilcryvincentschoener/vendor/bower_components/waypoints/lib/jquery.waypoints.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sdevilcryvincentschoener/vendor/bower_components/sweetalert/lib/sweet-alert.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sdevilcryvincentschoener/js/wow.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sdevilcryvincentschoener/js/jquery.nicescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sdevilcryvincentschoener/js/jquery.matchHeight-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sdevilcryvincentschoener/js/app.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).foundation();
        });
    </script>
{% endblock %}